body
{
  font-family: 'Quicksand', sans-serif;
  background: #304863;
}

.header_div
{
  background: #293d53;
  color: rgb(91, 143, 255);
}

.header_div p 
{
  font-family:"Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.main_div button
{
  font-family:"Roboto", sans-serif;
  margin-top: 30px;
  width: 130px;
  font-weight: bolder;
  letter-spacing: 3px;
}

.rodape
{
  position: fixed;
  color: black;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  background-color: #516a86;
  line-height: 3;
  text-align: center;
  text-shadow: 5px 5px 15px #ffffff;
}
